{{ form_start(form) }}

{{ form_widget(form, {'attr': {'class': 'col-6'}}) }}

<div>
	<label for="educateur_admin">Admin</label>
	<input type="checkbox" id="educateur_admin" name="educateur_admin" class="mt-3">
</div>

<div class="demo-inline-spacing mt-4 mx-5 d-flex gap-5">
	<button class="btn rounded-pill btn-primary">{{ button_label|default('Save') }}</button>
	<a href="{{ path('app_educateur_index') }}" class="btn rounded-pill btn-outline-primary">back to list</a>
</div>

{{ form_end(form) }}
