{% extends 'base.html.twig' %}
{% block title %}
	Mails éducateurs
{% endblock %}
{% block title_btn %}
	<div class="demo-inline-spacing">
		<a href="{{ path('app_mail_edu_new') }}" class="btn rounded-pill btn-primary">Ajouter</a>
	</div>
{% endblock %}
{% block body %}
	<!-- Basic Bootstrap Table -->
	<div class="card">
		<h5 class="card-header">Mails</h5>
		<div class="table-responsive text-nowrap">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>DateEnvoi</th>
						<th>Objet</th>
						<th>Message</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody class="table-border-bottom-0">
					{% for mail_edu in mail_edus %}
						<tr>
							<td>{{mail_edu.id}}</td>
							<td>{{mail_edu.dateEnvoi ? mail_edu.dateEnvoi|date('Y-m-d'):''}}</td>
							<td>{{mail_edu.objet}}</td>
							<td>{{mail_edu.message}}</td>
							<td>
								<divclass="dropdown">
									<buttontype="button"class="btnp-0dropdown-togglehide-arrow"data-bs-toggle="dropdown">
										<iclass="bxbx-dots-vertical-rounded"></i>
									</button>
									<divclass="dropdown-menu">
										<aclass="dropdown-item"href="{{path('app_mail_edu_show',{'id':mail_edu.id})}}">
											<iclass="bxbx-show-altme-1"></i>Show</a>
										<aclass="dropdown-item"href="{{path('app_mail_edu_edit',{'id':mail_edu.id})}}">
											<iclass="bxbx-edit-altme-1"></i>Edit</a>
										<button class="dropdown-item" type="submit" form="app_mail_edu_delete_{{mail_edu.id}}">
											<i class="bx bx-trash me-1"></i>
											Delete</button>
										{{ include('mail_edu/_delete_form.html.twig') }}
									</div>
								</div>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!--/ Basic Bootstrap Table -->
{% endblock %}
