{% extends 'base.html.twig' %}

{% block title %}MailEdu
{% endblock %}

{% block body %}

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ mail_edu.id }}</td>
			</tr>
			<tr>
				<th>DateEnvoi</th>
				<td>{{ mail_edu.dateEnvoi ? mail_edu.dateEnvoi|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Objet</th>
				<td>{{ mail_edu.objet }}</td>
			</tr>
			<tr>
				<th>Message</th>
				<td>{{ mail_edu.message }}</td>
			</tr>
		</tbody>
	</table>

	<div class="d-flex flex-row">
		<div class="demo-inline-spacing mt-4 mx-5 d-flex gap-5">
			<a href="{{ path('app_mail_edu_edit', {'id': mail_edu.id}) }}" class="btn rounded-pill btn-primary">edit</a>
			<a href="{{ path('app_mail_edu_index') }}" class="btn rounded-pill btn-outline-primary">back to list</a>
			<button class="btn rounded-pill btn-outline-primary" form="app_mail_edu_delete_{{mail_edu.id}}">Delete</button>
		</div>
	</div>
	{{ include('mail_edu/_delete_form.html.twig') }}
{% endblock %}
