{% extends 'base.html.twig' %}

{% block title %}MailEdu{% endblock %}

{% block body %}
    <h1>MailEdu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mail_edu.id }}</td>
            </tr>
            <tr>
                <th>DateEnvoi</th>
                <td>{{ mail_edu.dateEnvoi ? mail_edu.dateEnvoi|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ mail_edu.objet }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ mail_edu.message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mail_edu_index') }}">back to list</a>

    <a href="{{ path('app_mail_edu_edit', {'id': mail_edu.id}) }}">edit</a>

    {{ include('mail_edu/_delete_form.html.twig') }}
{% endblock %}
