{% extends 'base.html.twig' %}

{% block title %}MailContact index{% endblock %}

{% block body %}
    <h1>MailContact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateEnvoi</th>
                <th>Objet</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mail_contact in mail_contacts %}
            <tr>
                <td>{{ mail_contact.id }}</td>
                <td>{{ mail_contact.dateEnvoi ? mail_contact.dateEnvoi|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ mail_contact.objet }}</td>
                <td>{{ mail_contact.message }}</td>
                <td>
                    <a href="{{ path('app_mail_contact_show', {'id': mail_contact.id}) }}">show</a>
                    <a href="{{ path('app_mail_contact_edit', {'id': mail_contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mail_contact_new') }}">Create new</a>
{% endblock %}
