{% extends 'base.html.twig' %}

{% block title %}MailContact{% endblock %}

{% block body %}
    <h1>MailContact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mail_contact.id }}</td>
            </tr>
            <tr>
                <th>DateEnvoi</th>
                <td>{{ mail_contact.dateEnvoi ? mail_contact.dateEnvoi|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ mail_contact.objet }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ mail_contact.message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mail_contact_index') }}">back to list</a>

    <a href="{{ path('app_mail_contact_edit', {'id': mail_contact.id}) }}">edit</a>

    {{ include('mail_contact/_delete_form.html.twig') }}
{% endblock %}
